.idea/*
.settings/org.eclipse.*
.settings/org.eclipse.jdt.ui.prefs
.DS_Store
target/*
target-display/*
test/*
dependency-reduced-pom.xml
configure.properties
configure.properties.example.*
*README.pdf
TTS_CREDS
build
*.iml
/logs/
/target*/
/target/
/test/
/*.jar
