### Server connection parameters
host=<<endpoint-address>>
header=<<client-id>>
key=<<client-password>>
# Used to make a non-SSL connection if testing on a server without SSL configured (locally). Default=false
#nossl=true

### Controls playback method. Playback using an audio URL in the response [true], playback by streaming audio from the server [false]
urltts=false

### Raspberry Pi configuration options
# Used to select the default audio device.  If audio isn't working, try setting this to false
useDefaultAudio=true
# Used to select the GPIO for 'push to talk' and the status LED, or to select 'Enter' and console status.
#  false (default) = Use the GPIO
#  true = Use the enter key and console
nogpio=true

### Remote controller capability
# The command and audio socket ports for use with a socket connected controller.
cmdSocketPort=10010
audioSocketPort=10011
# Client status update ping rate in mS (0 = no status ping. Default = 7000)
statusPingRate=7000

### Enable additional debugging information.
#debug=true
#logAdditionalAudioInfo=true
