### Server connection parameters
host=<<endpoint-address>>
userID=<<user ID or client-id>>

# Used to make a non-SSL connection if testing on a server without SSL configured (locally). Default=false
#nossl=true

# IAM API Key is Used to authenticate the client device - created per IBM ID (or Service ID) using IBM Cloud
IAMAPIKey=

# Choosing which skill set to use (Required parameter)
skillset=

# tenant ID can be passed (Optional parameter for customers with just one tenant - Required parameter for customers that have more then one tenant linked on their IBM ID account)
#tenantID=

# Client language specific preferences can be passed (Optional parameter with a default value: en-US)
#language=en-US

# Choosing which STT and TTS engine to convert audio to text and text to audio - possible values are : watson, google , (Optional parameter with a default value : watson)
#engine=

### Controls playback method. Playback using an audio URL in the response [true], playback by streaming audio from the server [false]
urltts=false

### Raspberry Pi configuration options
# Used to select the default audio device.  If audio isn't working, try setting this to false
useDefaultAudio=true
# Used to select the GPIO for 'push to talk' and the status LED, or to select 'Enter' and console status.
#  false (default) = Use the GPIO
#  true = Use the enter key and console
nogpio=true

### Remote controller capability
# The command and audio socket ports for use with a socket connected controller.
cmdSocketPort=10010
audioSocketPort=10011
# Client status update ping rate in mS (0 = no status ping. Default = 7000)
statusPingRate=7000

### Enable additional debugging information.
#debug=true
#logAdditionalAudioInfo=true
